.carousel .thumb img {
    width: 100% !important;
    height: 100% !important;
}



.legend {
    visibility: hidden;
}

@media (min-width:500px) {

    .carousel .slide img {
        max-height: 150px;  /* change this to whatever you want */
        width: auto;
    }
  
  }