@import url('https://fonts.googleapis.com/css?family=Poppins');
@import "~react-image-gallery/styles/css/image-gallery.css";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
html, body {
    margin: 0;
}	

.st0{fill:#2E2E2E;}
.st1{fill:#E5E5E5;}
.st2{fill:#E4E4E4;}
.st3{fill:none;stroke:#2E2E2E;stroke-width:12.7883;stroke-miterlimit:10;}
.st4{fill:none;stroke:#FF5D00;stroke-width:13;stroke-miterlimit:10;}
.st5{fill:none;stroke:#2E2E2E;stroke-width:0.384;stroke-miterlimit:10;}
.st6{fill:none;stroke:#FF5D00;stroke-width:0.3903;stroke-miterlimit:10;}
.st7{fill:none;stroke:#E4E4E4;stroke-width:12.7883;stroke-miterlimit:10;}
.st8{fill:none;stroke:#E5E5E5;stroke-width:0.384;stroke-miterlimit:10;}

.MuiTouchRipple-root {display: none}

.cls-1{fill:#2e2e2e;}.cls-2,.cls-3{fill:none;stroke-miterlimit:10;}.cls-2{stroke:#2e2e2e;stroke-width:0.38px;}.cls-3{stroke:#ff5d00;stroke-width:0.41px;}

.clslight-1{fill:#e4e4e4;}.clslight-2,.clslight-3{fill:none;stroke-miterlimit:10;}.clslight-2{stroke:#e4e4e4;stroke-width:0.38px;}.clslight-3{stroke:#ff5d00;stroke-width:0.41px;}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto+Condensed&family=Roboto+Slab:wght@600&display=swap');